.bg-marvel {
  background-image: url(http://4.bp.blogspot.com/-N0FkGkiC0pI/T6i-Vlc-0mI/AAAAAAAACHo/-AvHGblyMu4/s1600/08_.jpg);
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center center;
  height: 100vh; 
}